@using PagedList.Mvc
@model PagedList.IPagedList<SmartHive.Web.Models.ShortHiveViewModel>

@{
    ViewBag.Title = "All Hives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3> Hello, @User.Identity.Name! Here you can find a list of all your smart hives: </h3>
<p> Click on a hive to get the full information for it. </p>

<div id="list">
    @Html.Partial("_HiveListPartial", Model)

    <div class="pages total">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("All", "Hive",
        new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "list",
                InsertionMode = InsertionMode.Replace
            }))
    </div>
</div>
